{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "quotes": 0,
    "max-len": 0,
    "no-console": 0,
    "require-jsdoc": 0,
    "object-curly-newline" : 0,
    "arrow-parens": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "import/no-unresolved": [
      2,
      {
        "commonjs": true
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": [
          "req",
          "res",
          "err"
        ]
      }
    ],
    "import/extensions": 0,
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ]
  }
}